<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fight.mapper.ChatmsgMapper">
  <resultMap id="BaseResultMap" type="com.fight.pojo.Chatmsg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="senduserid" jdbcType="INTEGER" property="senduserid" />
    <result column="reciveuserid" jdbcType="INTEGER" property="reciveuserid" />
    <result column="sendtime" jdbcType="TIMESTAMP" property="sendtime" />
    <result column="senderName" jdbcType="VARCHAR" property="senderName" />
    <result column="reciverName" jdbcType="VARCHAR" property="reciverName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fight.pojo.Chatmsg">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, senduserid, reciveuserid, sendtime,senderName,reciverName
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chatmsg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chatmsg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fight.pojo.Chatmsg">
    insert into chatmsg (id, senduserid, reciveuserid,
      sendtime, content,senderName,reciverName)
    values (#{id,jdbcType=INTEGER}, #{senduserid,jdbcType=INTEGER}, #{reciveuserid,jdbcType=INTEGER},
      #{sendtime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR},#{senderName,jdbcType=VARCHAR},
           #{reciverName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fight.pojo.Chatmsg">
    insert into chatmsg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="senduserid != null">
        senduserid,
      </if>
      <if test="reciveuserid != null">
        reciveuserid,
      </if>
      <if test="sendtime != null">
        sendtime,
      </if>
      <if test="content != null">
        content,
      </if>
        <if test="senderName != null">
          senderName,
      </if>
        <if test="reciverName != null">
          reciverName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="senduserid != null">
        #{senduserid,jdbcType=INTEGER},
      </if>
      <if test="reciveuserid != null">
        #{reciveuserid,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="senderName != null">
        #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="reciverName != null">
        #{reciverName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fight.pojo.Chatmsg">
    update chatmsg
    <set>
      <if test="senduserid != null">
        senduserid = #{senduserid,jdbcType=INTEGER},
      </if>
      <if test="reciveuserid != null">
        reciveuserid = #{reciveuserid,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null">
        sendtime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="senderName != null">
        senderName = #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="reciverName != null">
        reciverName = #{reciverName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fight.pojo.Chatmsg">
    update chatmsg
    set senduserid = #{senduserid,jdbcType=INTEGER},
      reciveuserid = #{reciveuserid,jdbcType=INTEGER},
      sendtime = #{sendtime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR},
        senderName = #{senderName,jdbcType=VARCHAR},
        reciverName = #{reciverName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fight.pojo.Chatmsg">
    update chatmsg
    set senduserid = #{senduserid,jdbcType=INTEGER},
      reciveuserid = #{reciveuserid,jdbcType=INTEGER},
      sendtime = #{sendtime,jdbcType=TIMESTAMP},
        senderName = #{senderName,jdbcType=VARCHAR},
        reciverName = #{reciverName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>
