<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fight.mapper.soldrecordMapper">
  <resultMap id="BaseResultMap" type="com.fight.pojo.soldrecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commid" jdbcType="INTEGER" property="commid" />
    <result column="commname" jdbcType="VARCHAR" property="commname" />
    <result column="commdesc" jdbcType="VARCHAR" property="commdesc" />
    <result column="thinkmoney" jdbcType="DECIMAL" property="thinkmoney" />
    <result column="soldtime" jdbcType="TIMESTAMP" property="soldtime" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="soldstatus" jdbcType="INTEGER" property="soldstatus" />
    <result column="fahuostatus" jdbcType="VARCHAR" property="fahuostatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, commid, commname, commdesc, thinkmoney, soldtime, userid, soldstatus, fahuostatus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from soldrecord
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from soldrecord
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fight.pojo.soldrecord">
    insert into soldrecord (id, commid, commname,
      commdesc, thinkmoney, soldtime,
      userid, soldstatus, fahuostatus
      )
    values (#{id,jdbcType=INTEGER}, #{commid,jdbcType=INTEGER}, #{commname,jdbcType=VARCHAR},
      #{commdesc,jdbcType=VARCHAR}, #{thinkmoney,jdbcType=DECIMAL}, #{soldtime,jdbcType=TIMESTAMP},
      #{userid,jdbcType=INTEGER}, #{soldstatus,jdbcType=INTEGER}, #{fahuostatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fight.pojo.soldrecord">
    insert into soldrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commid != null">
        commid,
      </if>
      <if test="commname != null">
        commname,
      </if>
      <if test="commdesc != null">
        commdesc,
      </if>
      <if test="thinkmoney != null">
        thinkmoney,
      </if>
      <if test="soldtime != null">
        soldtime,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="soldstatus != null">
        soldstatus,
      </if>
      <if test="fahuostatus != null">
        fahuostatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commid != null">
        #{commid,jdbcType=INTEGER},
      </if>
      <if test="commname != null">
        #{commname,jdbcType=VARCHAR},
      </if>
      <if test="commdesc != null">
        #{commdesc,jdbcType=VARCHAR},
      </if>
      <if test="thinkmoney != null">
        #{thinkmoney,jdbcType=DECIMAL},
      </if>
      <if test="soldtime != null">
        #{soldtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="soldstatus != null">
        #{soldstatus,jdbcType=INTEGER},
      </if>
      <if test="fahuostatus != null">
        #{fahuostatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fight.pojo.soldrecord">
    update soldrecord
    <set>
      <if test="commid != null">
        commid = #{commid,jdbcType=INTEGER},
      </if>
      <if test="commname != null">
        commname = #{commname,jdbcType=VARCHAR},
      </if>
      <if test="commdesc != null">
        commdesc = #{commdesc,jdbcType=VARCHAR},
      </if>
      <if test="thinkmoney != null">
        thinkmoney = #{thinkmoney,jdbcType=DECIMAL},
      </if>
      <if test="soldtime != null">
        soldtime = #{soldtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="soldstatus != null">
        soldstatus = #{soldstatus,jdbcType=INTEGER},
      </if>
      <if test="fahuostatus != null">
        fahuostatus = #{fahuostatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fight.pojo.soldrecord">
    update soldrecord
    set commid = #{commid,jdbcType=INTEGER},
      commname = #{commname,jdbcType=VARCHAR},
      commdesc = #{commdesc,jdbcType=VARCHAR},
      thinkmoney = #{thinkmoney,jdbcType=DECIMAL},
      soldtime = #{soldtime,jdbcType=TIMESTAMP},
      userid = #{userid,jdbcType=INTEGER},
      soldstatus = #{soldstatus,jdbcType=INTEGER},
      fahuostatus = #{fahuostatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey1"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from soldrecord
    where userid = #{userid,jdbcType=INTEGER} limit #{param2},#{param3}
  </select>
</mapper>
